In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# establishing connection with database testdb  using sql alcemy
test_db_engine = create_engine('postgresql://postgres:root@localhost:5432/Testdb')

# establishing connection with database test_data_migration using sql alcemy
test_data_migration_engine = create_engine('postgresql://postgres:root@localhost:5432/test_data_migration')

In [2]:
sql_query = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM attendance
                               ''', test_db_engine)

test_db_attendance_df=pd.DataFrame(sql_query)
# test_db_attendance_df

In [3]:
# Let's bring testdb database table into dataframe and then migrate to another database 
def sql_to_df(table_name):
    
    sql_query = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM %s
                               ''' % (table_name), test_db_engine)
    
    test_db_df=pd.DataFrame(sql_query)
    return test_db_df

company_df=sql_to_df('company')
# company_df

In [4]:
# def df_to_sql(df_name,tablename)
#     return df_name.to_sql(tablename,test_data_migration_engine)

def migrate_to_database(df_name,tablename):
    return df_name.to_sql(tablename,test_data_migration_engine)


migrate_to_database(company_df,"company")

ValueError: Table 'company' already exists.